@import "tailwindcss";

.expandable {
  transition: max-height 0.4s ease, opacity 0.3s ease;
  overflow: hidden;
}

.expandable-open {
  max-height: 500px; /* Adjust as needed */
  opacity: 1;
}

.expandable-closed {
  max-height: 0;
  opacity: 0;
}

html {
  scroll-behavior: smooth;
}